<a href="https://colab.research.google.com/github/Mitchmer/Python-lists/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list2 = [25.50, True, -55]
print("Original list: ", list2)

list2.pop(1)
print(list2.pop(1))

list2.pop()
print("List after popping: ", list2)

Original list:  [25.5, True, -55]
-55
List after popping:  []

In [ ]:
lst = [25, 12, 10, -21, 10, 100]
for hi in lst:
  print (hi)
for hi in lst:
  print (hi, end=" ")

25
12
10
-21
10
100
25 12 10 -21 10 100

In [ ]:
indices = range(len(lst))
for i in indices:
    print("lst[{}]: ".format(i), lst[i])

lst[0]:  25
lst[1]:  12
lst[2]:  10
lst[3]:  -21
lst[4]:  10
lst[5]:  100

In [ ]:
list_1 = ['s', 'l', 'm', 'a']
list_2 = [3, 4, 5, 10]
list_1.sort()
print(list_1)
print(list_2)

['a', 'l', 'm', 's']
[3, 4, 5, 10]

In [ ]:
my_list = [4, 2, 8, 1, 6]
my_list.sort(reverse=True)
print(my_list)

[8, 6, 4, 2, 1]

In [ ]:
def myFunction(x):
    return x%2
list1 = [17, 23, 46, 51, 90, 100, 3, 7]
list1.sort()
list1.sort(key=myFunction)
print(list1)

[46, 90, 100, 3, 7, 17, 23, 51]

In [ ]:
#APPEND
list1= [122, 345, 89, "Sara"]
list1.append(True)
print(list1)

[122, 345, 89, 'Sara', True]

In [ ]:
list1.clear()
print(list1)

[]

In [ ]:
#count
list1 = ['1', 1, 11, 1, 1111, 11111, 1, '1111']
print(list1.count(1))

3

In [ ]:
#create a list
name = "Jack"
name = list(name)
print(name)

['J', 'a', 'c', 'k']

In [ ]:
clubname = list("computer science club")
clubwithoutvowels = []
vowels = list("aeiou")
for c in clubname:
  if not c in vowels:
    clubwithoutvowels.append(c)

print(clubwithoutvowels)

['c', 'm', 'p', 't', 'r', ' ', 's', 'c', 'n', 'c', ' ', 'c', 'l', 'b']

In [ ]:
num_list = [1, 4, 6, 23, 4, 1, 7, 3, 8, 3245, 9, 10, 54, 2, 6, 3, 4, 1, 87, 9]
no_dupes_list = []
for num in num_list:
  if not num in no_dupes_list:
    no_dupes_list.append(num)

print(no_dupes_list)

[1, 4, 6, 23, 7, 3, 8, 3245, 9, 10, 54, 2, 87]